{% extends 'base.html' %}

{% block title %}Add Post{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1 class="display-4">Add a Post for {{ user.first_name }} {{ user.last_name }}</h1>
                <form method="POST" action="/users/{{user.id}}/posts/new">
                    <label for="title">Title:</label>
                        <input name="title" placeholder="Enter a title" class="form-control" id="title">
                    <label for="content">Content</label>
                        <textarea name="content" id="content" class="md-textarea form-control" rows="3"></textarea>
                        {% for tag in tags %}
                        <div class="custom-control custom-checkbox d-block">
                            <input type="checkbox" class="custom-control-input" name="tags" value={{tag.id}} id="{{tag.name}}">
                            <label class="custom-control-label" for="{{tag.name}}">{{tag.name}}</label>
                        </div>
                        {% endfor %}
                        <div class="d-inline-flex">
                        <form action="/users/{{user.id}}">
                            <button class="btn btn-outline-info" type="submit">Cancel</button>
                        </form>    
                        <button class="btn btn-success" type="submit">Add</button>
                    </div>
                </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
{% endblock %}