{% extends 'base.html' %}

{% block title %}Tag List{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1 class="display-4">Tags</h1>
            <ul>
                {% for tag in tags %}
                <a class="list-group-item list-group-item-action" href="/tags/{{tag.id}}">{{tag.name}}</a>  
                {% endfor %}
            </ul>
            <form action="/tags/new">
                <button class="btn btn-default" type="submit">Add Tag</button>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
{% endblock %}